@page "/LearnBlazor/AttributeSplatting"

<h3 class="text-primary">Attribute Splatting</h3>

<_AttrSplattingChildComponent placeholder="This is from parent component."></_AttrSplattingChildComponent>
@code {
    //public Dictionary<string, object> MyAttributes { get; set; } = new()
    //    {
    //        { "required", null },
    //        { "maxlength", 10 },
    //        { "placeholder", "text from parent component" }
    //    };
}
