@page "/learnblazor/superheroes"
<h3>Super Heroes</h3>
<div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Place</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
</div>
<div class="col-6 offset-md-4">
    <a href="" class="btn btn-primary">Add New Superhero</a>
</div>
@code {
}
